[Unit]
Description=DroidTux - Integrador de Aplicaciones Android
Documentation=https://github.com/nexu-io
After=graphical-session.target

[Service]
Type=simple
ExecStart=/usr/bin/python3 %h/.local/bin/app_integrator.py --add
ExecStop=/usr/bin/python3 %h/.local/bin/app_integrator.py --remove
KillMode=process
TimeoutStopSec=5

[Install]
WantedBy=default.target
