[Desktop Entry]
Version=1.0
Type=Application
Name=DroidTux Settings
Comment=Configure DroidTux
Exec=/usr/local/bin/droidtux-settings
Icon=droidtux
Terminal=false
Categories=Settings;
